

.instance-div{
    display: flex;
    flex-direction: column;
  
    justify-content: space-between;
    box-sizing: border-box;
    gap: 0 25px;
 
    margin: 0;
    padding: 0;
    padding: 0 8rem;
    text-align: center;
    align-items:center;

}


.instance-div button {
    min-width: 150px;
    margin-bottom: 10px;
}




p {
    font-weight: 0;
    font-size:12px;   
    
}

 a {
    text-decoration: none;
    color: black;
 }

 img {
    width: 40px;
    height: 40px;
 }