

.instance-div{
    display: flex;
    flex-direction: row;
    background-color: rgb(54, 50, 50);
    justify-content: space-between;
    box-sizing: border-box;
    gap: 0 25px;
 
    max-width: 75%;
    padding: 0 8rem;
    align-items: center;
}


.emulator p {
    color: black;
    max-width: 2px;
}

p:first-child {
    margin-right:150px;
}

p {
    font-weight: 0;
    font-size:12px;
    
    
}
 a {
    text-decoration: none;
    color: black;
 }

 img {
    width: 40px;
    height: 40px;
 }