.asideMenu{
    min-width: 15%;
    height: 100%;
    display: inline-block;
    justify-content: space-between;
    z-index:-1;
    font-size: 14px;
    text-align: left;
}


.asideMenu  li:hover{
    
    
    background-color: #08477698;
    
}
.asideMenu  li:active{
    
    background-color: rgb(5, 20, 49);
}




.asideMenu a  {
    
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    
}

.asideMenu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


